node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
auth/google-services.json
auth/google-services.jsonZone.Identifier
auth/environment.js
app.json
src/Environment.js
